#bate{
	width: 601px;
    height: 600px;
	margin-left:400px;
}
#parche1{
	position: absolute;
    margin-left: 450px;
    margin-top: -450px;
    width: 80px;
}
#parche2{
	position: absolute;
    margin-left: 690px;
    margin-top: -530px;
    width: 80px;
}
#platillo{
	position: absolute;
    margin-left: 540px;
    margin-top: -550px;
    width: 100px;
}
#bombo{
	position: absolute;
    margin-left: 650px;
    margin-top: -240px;
    width: 90px;
}